 <footer class="bg-dark text-white py-5 text-center text-lg-start">
      <div class="container d-lg-flex">
        <div class="w-lg-25">
          <h3>Menu</h3>
          <ul class="list-unstyled">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./servicos.html">Serviços</a></li>
            <li><a href="./produtos.html">Produtos</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contato.html">Contato</a></li>
          </ul>
        </div>
        <div class="w-lg-25 mt-5 mt-lg-0">
          <h3>Produtos</h3>
          <ul class="list-unstyled">
            <li><a href="./produtos.html?categoria=1">Categoria A</a></li>
            <li><a href="./produtos.html?categoria=2">Categoria B</a></li>
          </ul>
        </div>
        <div class="w-lg-25 mt-5 mt-lg-0">
          <h3>Serviços</h3>
          <ul class="list-unstyled">
            <li>
              <a href="./servico-corte-e-manutencao.html">Corte e manutenção</a>
            </li>
            <li>
              <a href="./servico-adubacao-e-fertilizacao.html"
                >Adubação e fertilização</a
              >
            </li>
            <li>
              <a href="./servico-controle-de-pragas.html">Controle de pragas</a>
            </li>
          </ul>
        </div>
        < div class="w-lg-25 mt-5 mt-lg-0">
          <h3>Newsletter</h3>
          <form class="mt-1" id="formulario-newsletter">
            <input type="email" class="form-control d-block w-100" id="fnEmail" required />
            <button type="submit" class="mt-1 btn btn-success">
              Inscrever
            </button>
          </form>
        </div>
      </div>
      <div
        class="container mt-5 d-lg-flex justify-content-between border-top border-dark-subtle pt-5"
      >
        <div>&copy; 2025 Empresa XPTO</div>
        <div class="mt-5 mt-lg-0">
          <a href="https://youtube.com">
            <i class="fa-brands fa-youtube"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://facebook.com">
            <i class="fa-brands fa-facebook"></i>
          </a>
          &nbsp; &nbsp;
          <a href="https://instagram.com"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
    </footer>
    <script src="./js/script.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>